@import url('../../assets/CSS/main.css');


/* ANIMATIONS */

/* Animation: container falling from top */
#animationContainerFromTop {
    animation: movement steps(60) .4s normal,
              fading steps(60) .5s normal; 
}

@keyframes movement {
    from{margin-top: -76em;}
    to{margin-top: 0em;}
}

@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

#profile_box {
    
    /* flex-direction: row;
    justify-content: center !important; */
    

    height: 100vh;
    overflow-y: scroll !important;

    background-color: transparent !important;
    
    
}

/* CONTAINERS (VIEWS / TOTAL SCREEN / SECTIONS) */

.container_profile_data {

    position: absolute;
    z-index: 10;
    margin-right: .2vh;

    height: 15vh !important;
    width: 39.1vw !important;

    background-color: var(--color-dark-1);

    transition: var(--transition-1) !important;

    overflow:visible;
}

.container_profile_data:hover {
    
    height: 40vh !important;
    
    transition: var(--transition-1) !important;
    
    /* background-color: var(--color-dark-2); */

}

.container_profile_photo {
    
    position: absolute;
    z-index: 20;

    height: 9em;
    width: 9em;

    background-color: red;

}
/* COMPONENTS */

.component_profile {
    padding-top: 15vh;
    justify-content: flex-start;
    align-items: flex-start;

    height: 80em;
    width: 39vw !important;

    background-color: whitesmoke;

    /* overflow-y: scroll; */


}
.trial_1_1 {
    
}
.trial_1_1 {
    
}
.trial_1_1 {
    
}
.trial_1_1 {
    
}
.trial_1_1 {
    
}
.trial_1_1 {
    
}