@import url('../../CSS/main.css');

.component_box {    

    height: 30em;
    width: 15em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aqua;

}