@import url('../../assets/CSS/main.css');

/* ANIMATIONS */

/* Animation: container falling from top */
#animationContainerFromTop {
    animation: movement steps(60) .4s normal,
              fading steps(60) .5s normal; 
}

@keyframes movement {
    from{margin-top: -76em;}
    to{margin-top: 0em;}
}

@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

#animationButtonSwitch {
    animation: switch steps(60) .4s normal,
              opacity steps(60) .4s normal; 
}

/* @keyframes switch {
    from{width: var(--button-width-1);}
    to{width: 0em;}
} */

@keyframes switch {
    from{transform: rotateX(0deg);}
    to{transform: rotateX(360deg);}
}


@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}


#home_box {

    
    height: 100vh !important;

    background-color: black;
    
    /* flex-direction: row;
    justify-content: center !important; */
}
/* CONTAINERS (VIEWS / TOTAL SCREEN / SECTIONS) */

.container_home_transparency {

    position:fixed;
    z-index: 10;

    background: 
	linear-gradient(0deg, rgba(0, 0, 0, 0), var(--color-vapor-2-2));

    height: 5vh;
    width: 40vw;

    transition: var(--transition-2);

    cursor: pointer;
}

/* COMPONENTS */

.component_home {
    height: 100vh !important;

    background-color: transparent !important;

}

.memes_component {
    background-color: transparent !important;

    height: 100vh !important;
}

.memes_box {
/* 
    transform: skew(25deg 25deg 0deg 0deg); */

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh !important;
    width: 40vw;

    border-radius: var(--border-radius-3);

    overflow-y: scroll;

    background-color: transparent;
}

.meme_card {

    margin-top: .8em;
    
    width: 39vw;
    height: 100vh !important; 

    background-color: black;
}

.meme_photo {
    border-radius: var(--border-radius-3) var(--border-radius-3) 0em 0em;
    
    
    width: 39vw;

}

.meme_name {
    
    width: 39vw;
    height: 3em;

    background-color: white;

}

.meme_rating_action {
    
    width: 39vw;
    height: 3em;

    background-color: white;

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    
}

.meme_rating_star{
    width: 2em;
    height: 2em;

    margin-inline: -20%;

    background-color: rgb(160, 97, 97);

    transform:rotateZ(45deg);

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.meme_rating_star:hover {
    transform: scale(110%) rotateZ(10deg);;
    
    /* transform:rotateZ(50deg); */
}

.meme_rating {
    
    width: 39vw;
    height: 3em;

    background-color: white;

}

.meme_creator {
    
    width: 39vw;
    height: 3em;

    background-color: white;

}