@import url('../../assets/CSS/main.css');


#home_box {

    
    height: 100vh !important;

    background-color: black;
    
    /* flex-direction: row;
    justify-content: center !important; */
}
/* CONTAINERS (VIEWS / TOTAL SCREEN / SECTIONS) */

.container_home_transparency {

    position:fixed;
    z-index: 10;

    background: 
	linear-gradient(0deg, rgba(0, 0, 0, 0), var(--color-vapor-1-4));

    color: var(--color-light-2);

    height: 10vh;
    width: 39.4vw;

    transition: var(--transition-2);

    margin-left: 1vw;
    padding-left: .4em;
    padding-top: .4em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.home_transparency_text {
    cursor: pointer;

    height: 3vh;
    width: 3vw;

    font-weight: 600;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 80%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius-2);
}

/* COMPONENTS */

.component_box {
    /* needed margin for dissapering in normal screen */
    /* margin-top: -76em; */

    margin-inline: 1em;
    
    height: 45em;
    width: 40em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-light-1);

    transition: 1s;
    
    border-radius: var(--border-radius-2);
}

.component_home {
    height: 100vh !important;
    
    background-color: transparent !important;
    
}

.memes_component {
    background-color: transparent !important;
    
    height: 100vh !important;
}

.memes_box {
    /* 
    transform: skew(25deg 25deg 0deg 0deg); */
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    height: fit-content !important;
    /* height: 99vh !important; */
    width: 39.8vw;
    
    border-radius: var(--border-radius-3);
    
    overflow-y: scroll;

    overflow-x: hidden;
    
    background-color: transparent;
    
    border-radius: var(--border-radius-3);
}

.home_topline {
height: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meme_card {

    margin-top: .8em;
    
    width: 38.8vw;
    height: fit-content; 
    /* height: fit-content;  */

    background-color: black;

}

.meme_photo {
    border-radius: var(--border-radius-3) var(--border-radius-3) 0em 0em;
    
    
    width: 39vw;

    

}

.meme_card_data {
    background-color: var(--color-dark-2) !important;

    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: fit-content;
    /* height: 18.4em; */
    width: 39vw;

    
    transition: var(--transition-2);

    
}

.meme_card_data:hover {
    background-color: var(--color-dark-2);
    
    transition: var(--transition-2);
    
    border-radius: 0em 0em var(--border-radius-3) var(--border-radius-3);

}

.meme_title {
    
    width: 38.6vw;
    height: fit-content;
    min-height: 3em;

    font-size: 1.2em;
    font-weight: 1000;

    /* margin-bottom: 5%; */

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-5);

}

.meme_description {
    
    width: 38.6vw;
    height: fit-content;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-5);

}

.meme_name:hover {
    background-color: var(--color-vapor-1-4);
    transition: var(--transition-9);

    /* height: 10em; */
    
    color: var(--color-light-1);
}

.meme_rating_action {
    padding: .5em;

    width: 37.8vw;
    height: 3em;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: var(--transition-5);

    
}

.meme_rating_action:hover {
    background-color: var(--color-vapor-2-2);
    transition: var(--transition-9);

    height: 13em;

    box-shadow: var(--color-light-2);
}

.meme_rating_star{
    width: 2.2em;
    height: 2.2em;

    margin-inline: -20%;

    border-radius: 41.2%;

    background-color: unset;

    transform:rotateZ(45deg);

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;

    /* box-shadow: .21em .21em .71em var(--color-vapor-5-1); */
}

.meme_rating_star:hover {
    transform: scale(110%) rotateZ(10deg);
    
    box-shadow: .21em .21em .71em var(--color-vapor-5-1);
    
    /* transform:rotateZ(50deg); */
}

.meme_rating {
    
    width: 38.6vw;
    height: 3em;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-5);

}

.meme_rating:hover {
    background-color: var(--color-vapor-3-2);
    transition: var(--transition-9);

    color: var(--color-light-1);
    

    height: 13em;
}

.meme_creator {
    
    width: 38.6vw;
    height: 3em;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-5);
    
    margin-bottom: .1em;

}

.meme_creator:hover {
    background-color: var(--color-vapor-4-4);
    transition: var(--transition-9);

    height: 10em;
    margin-bottom: .1em;
    
    border-radius: 0em 0em var(--border-radius-3) var(--border-radius-3);
    color: var(--color-light-1);
}


.meme_comments_accordion {
    /* THIS IS THE RESULTS CONTAINER LEVEL 1*/
    background: linear-gradient(to left top, var(--color-vapor-2-1), var(--color-vapor-1-1));
    transition: var(--transition-0);
    color: var(--color-light-2) !important;

    border-radius: var(--border-radius-3);

    width: 100%;
    height: fit-content;
    min-height: 20%;

    margin-bottom: .5em;

    
    overflow-x: hidden;
}

.meme_comment_textarea_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.meme_comment_textarea {
    width: 25em;
}

.meme_comment_textarea_bttn {
    border-width: .5em !important;
    /* background-color: red; */
    padding: 0.5%;
    margin-left: 0.5%;

    height: 4vh;
    width: 5vw;

    font-size: .8em;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    letter-spacing: .3em;

    background-color: var(--color-dark-3);

    
    background-color: var(--color-vapor-2-1);
    color: var(--color-dark-3);

    border-radius: var(--border-radius-2);
    border-width: .05em;

    border-color: var(--color-vapor-2-1);

    cursor:pointer;

    transition: var(--transition-2);

    margin-bottom: 5%;
}

.meme_comment_box {
    border: solid;
    border-radius: var(--border-radius-3) var(--border-radius-3) var(--border-radius-3) var(--border-radius-3);
    margin-bottom: 3%;

    width: 36vw;
}
.meme_comment_owner {
    font-weight: 800;
}
.meme_comment_content {
    border-top: dotted;
    margin: 3%;
}

.meme_content_created {
    font-size: 1.5em !important;
}

.meme_comment_rating_action {
    /* padding: .5em; */

    width: 100%;
    height: 5%;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: var(--transition-5);
}
.meme_comment_rating_action:hover {
    background-color: var(--color-vapor-2-2);
    transition: var(--transition-9);

    height: 13em;

    box-shadow: var(--color-light-2);
}

.meme_comment_rating_star{

    width: 2.2em;
    height: 2.2em;

    margin-inline: -30%;


    border-radius: 41.2%;

    background-color: unset;

    transform:rotateZ(45deg);
    transform: scale(50%);


    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;

    /* box-shadow: .21em .21em .71em var(--color-vapor-5-1); */
}

.meme_comment_rating_star:hover {
    transform: scale(60%) rotateZ(10deg);
    
    box-shadow: .21em .21em .71em var(--color-vapor-5-1);
    
    /* transform:rotateZ(50deg); */
}

/* .meme_card_footer {
    height: 1em;
    
    width: 38.6vw;
    background-color: var(--color-dark-1);
    color: var(--color-light-2);
    border-radius: 0em 0em var(--border-radius-3) var(--border-radius-3);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-5);

}
.memee_card_footer:hover {
    background-color: var(--color-vapor-1-1);
    transition: var(--transition-4);
} */

.meme_answer_box {
    border: solid;
    border-radius: var(--border-radius-3) var(--border-radius-3) var(--border-radius-3) var(--border-radius-3);
    margin-bottom: 3%;

    width: 30vw;

    background-color: lightgray;
}

.memes_loadMore_bttn {
    width: 100%;
    height: 5%;

    background-color: var(--color-dark-1);
    /* background-color: transparent; */
    color: var(--color-light-2);

    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: var(--transition-5);
}
.memes_loadMore_bttn:hover {
    background-color: var(--color-vapor-2-2);
    transition: var(--transition-9);
    transform: scale(200%);

    height: 13em;

    box-shadow: var(--color-light-2);
    cursor: pointer;
}