.errorMsg{
    color: red;
}

.okMsg{
    color: green;
}

.bttns_box{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.submitBttn,
.deleteBttn {
    margin-top: 3%;
}


