:root {

    --color-dark-1: hsl(0, 0%, 0%);
    --color-dark-2: hsl(0, 0%, 10%);
    --color-dark-3: hsl(0, 0%, 20%);
    
    --color-light-1: hsl(0, 0%, 100%);
    --color-light-2: hsl(0, 0%, 90%);
    --color-light-3: hsl(0, 0%, 80%);

    --color-purple-1: hsl(300, 100%, 45%);
    --color-purple-2: hsl(300, 100%, 25%);
    --color-purple-3: hsl(300, 100%, 15%);

    --color-yellow-1: hsl(60, 100%, 55%);
    --color-yellow-2: hsl(60, 100%, 40%);
    --color-yellow-3: hsl(60, 100%, 20%);
    

};
 
/* COMPONENT BOXES */

.component_box {    

    height: 30em;
    width: 15em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: aqua;

}