@import url('../../assets/CSS/main.css');

/* ANIMATIONS */

/* Animation: container falling from top */
#animationContainerFromTop {
    animation: movement steps(60) .4s normal,
              fading steps(60) .5s normal; 
}

@keyframes movement {
    from{margin-top: -76em;}
    to{margin-top: 0em;}
}

@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

#animationButtonSwitch {
    animation: switch steps(60) .4s normal,
              opacity steps(60) .4s normal; 
}

/* @keyframes switch {
    from{width: var(--button-width-1);}
    to{width: 0em;}
} */

@keyframes switch {
    from{transform: rotateX(0deg);}
    to{transform: rotateX(360deg);}
}


@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}


#login_box {
    
    flex-direction: row;
}

/* CONTAINERS (VIEWS / TOTAL SCREEN / SECTIONS) */

.container_box {

    height: 100vh;
    width: 40vw;

    min-width: 40vw !important;

    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;

    background-color: var(--color-dark-1);

    /* overflow: hidden !important; */

}

.container_welcome_images {

    /* position:fixed;
    z-index: 10; */

    height: 20vh;
    width: 40vw;

    background-color: aquamarine;

    transition: var(--transition-2);
}

.container_login_forms {
    margin: 0%;
    padding-top: 1em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    width: 40vw;

    background-color: var(--color-dark-1);

    
    overflow-x: scroll !important;
    overflow-y: hidden;
}


/* COMPONENTS (ANY KIND) */

.component_box {
    /* needed margin for dissapering in normal screen */
    /* margin-top: -76em; */

    margin-inline: 1em;
    
    height: 45em;
    width: 40em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-light-1);

    transition: 1s;
    
    border-radius: var(--border-radius-2);
}

.scroll_div_login{
    height: 100%;
    width: 50%;

    margin-top: 5%;
}

.scroll_area_login {
    height: 80vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component_login {
    width: 39vw;

}

.component_register {
    width: 39vw;

}

.login_box,
.register_box {
    margin-inline: 1em;
    
    height: 30em;
    width: 39vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-light-1);

    transition: 1s;
    
    border-radius: var(--border-radius-2);

}


/* INPUTS */

#input_file {
    /* background-color: transparent; */
    cursor: pointer;

    text-overflow:unset;
}
/* BUTTONS */

.box_login_register_button {
    
    
    margin: 1em;
    height: 4em;
    width: 5em;

    background-color: transparent;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.login_register_button {

    height: 5.1em;
    width: 7em;

    background-color: aqua;

    cursor: pointer;

    letter-spacing: .1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_message {

    margin-bottom: 1em;
    
    height: 10em;
    width: 33em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);

}

.login_inputs {
    margin-bottom: 1em;

    
    height: 20em;
    width: 33em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);

}

.login_button {
    
    height: 5em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);

}

.register_inputs {

    margin-bottom: 1em;
    
    height: 40em;
    width: 33em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-2);

}

.register_button {
    
    height: 5em;
    width: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-2);

}