@import url('../../assets/CSS/main.css');

/* ANIMATIONS */

/* Animation: container falling from top */
#animationContainerFromTop {
    animation: movement steps(60) .4s normal,
              fading steps(60) .5s normal; 
}

@keyframes movement {
    from{margin-top: -76em;}
    to{margin-top: 0em;}
}

@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

/* Animation: button or container fliping 360º */
#animationButtonSwitch {
    animation: switch steps(60) .4s normal,
              opacity steps(60) .4s normal; 
}

@keyframes switch {
    from{transform: rotateX(0deg);}
    to{transform: rotateX(360deg);}
}

@keyframes fading {
    from{opacity: 0%;}
    to{opacity: 100%;}
}

/* Main Logo Animations */
/* web start */
#animationLogoStart {
    animation: sizing 2s normal,
               positioning 2s normal,
               transforming 2.9s normal;
}

@keyframes sizing {
    from{transform: scale(.1);}
    to{transform: scale(1);    }

}

@keyframes transforming {
    from{transform:rotate(20deg)}
    to{transform: rotate(0deg)    }

}

@keyframes positioning {
    from{

    left: 1vw;
    top: -40vh;

    }
    to{

    left: 35vw;
    top: 8vh;

    }
}

/* splash */
#animationSplashStart {


    animation: sizingSplash 2s normal,
               transformingSplash 2.9s  normal,
               
               positioningSplash 2.9s 3s normal,
               opacitySplash 3s  normal;

}

@keyframes opacitySplash {
    from{opacity: 0%;}
    to{opacity:0%;    }

}

/* text */
#animationTextStart {


    animation: sizingText 2s normal,
               opacityText 4s  normal;

}

/* @keyframes sizingText {
    from{width: 0em;}
    to{width: 50em;    }

} */

@keyframes opacityText {
    from{opacity: 0%;}
    to{opacity:100%;    }

}

#login_box { 
    flex-direction: row;
}

/* CONTAINERS (VIEWS / TOTAL SCREEN / SECTIONS) */

.container_box {

    height: 100vh;
    width: 40vw;

    min-width: 40vw !important;

    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center !important;

    background-color: var(--color-dark-1);

    /* overflow: hidden !important; */

}

.container_welcome_images {

    /* position:fixed;
    z-index: 10; */

    height: 50vh;
    width: 40vw;

    background-color: aquamarine;

    transition: var(--transition-2);

    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container_login_forms {
    margin: 0%;
    padding-top: 1em;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 50vh;
    width: 40vw;

    background-color: red;

    
    overflow-x: scroll !important;
    overflow-y: hidden;
}


/* COMPONENTS (ANY KIND) */
/* login / Register button ---------------------------*/
.box_login_register_button {
    
    
    margin: 1em;
    height: 4vh;
    width: 5vw;
    
    background-color: blue;
    
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.login_register_button {
    
    height: 5.1em;
    width: 7em;
    
    background-color: aqua;
    
    cursor: pointer;
    
    letter-spacing: .1em;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Login Form Structure */
.component_login {

    width: fit-content;
    height: fit-content;
    
}

.login_message {
    
    margin-bottom: 1em;
    
    height: 10em;
    width: 33em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);
    
}

.login_inputs {
    margin-bottom: 1em;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-dark-3);
    
}

.login_button {
    
    height: 5em;
    width: 10em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-dark-3);
    
}

/* Register Form Structure */
.component_register {

    width: fit-content;
    height: fit-content;
    
}

.scroll_div_register_form{
    height: 100%;
    width: 50%;
    
    margin-top: 5%;
}

.scroll_area_register_form {
    height: 80vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.register_inputs {
    
    margin-bottom: 1em;
    
    height: 40em;
    width: 33em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-dark-2);
    
}

.register_button {
    
    height: 5em;
    width: 10em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--color-dark-2);
    
}

/* FORMS */
.login_box_form,
.register_box_form {
    margin-inline: 1em;
    
    height: 40vh;
    width: 25vw;

    padding-right: .9em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    background: linear-gradient(to left, var(--color-vapor-2-1), var(--color-vapor-3-1), transparent);

    box-shadow: .9em .9em .9em rgba(0, 0, 0, 0.267);
    
    
    border-radius: var(--border-radius-2);
    
}

.login_box_form {
    background-color: transparent;

}

/* INPUTS */

#input_file {
    /* background-color: transparent; */
    cursor: pointer;
    
    text-overflow:unset;
    }
    /* BUTTONS */

/* LOGO ------------------------------------------- */

.animation_start_button_temporary {
    height: 3em;
    width: 10em;

    background-color: blue;

    cursor: pointer;
}

.main_logo {

    height: 67vh;


    left: 35vw;
    top: 8vh;


    position: absolute;

    z-index: 200;
}

.splash_logo {
    
    height: 100em;
    width: 90em;

    /* left: 35vw;
    top: 8vh; */

    opacity: 100%;

}

.memework_text,
.join_text {

    position: absolute;

    fill:blue;

    left: 40vw;

    z-index: 400;

    font-weight: 900;
    /* transform: scale(3); */

    transform: scale(3) skew(30deg);
    
    cursor:default;

    opacity: unset;

    

}

.memework_text {

    left: 47.5vw;
    top: 59vh;

    letter-spacing: -1px;




}
.join_text {

    
    left: 57vw;

    top: 63vh;

    letter-spacing: -.5px;
}