@import url('../../CSS/main.css');

.component_box {    

    height: 70vh;
    width: 30vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-light-3);

}

.login_message {

    height: 10em;
    width: 30em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);

}
.login_inputs {
    
    margin-top: 1em;
    
    height: 20em;
    width: 30em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);


}
.login_button {

    margin-top: 1em;
    
    height: 5em;
    width: 10em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-dark-3);

    transition: var(--transition-1);

    cursor: pointer;    

}

.login_button:hover {

    background-color: var(--color-dark-2);

    transition: var(--transition-1);
}

